{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
<link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}">
<meta name="theme-color" content="#ffffff">

    <script src="{% static 'js/config.navbar-vertical.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-bs4/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-bs4/responsive.bootstrap4.css' %}" rel="stylesheet">
    <!-- form assets -->
    <link href="{% static 'lib/dropzone/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/flatpickr/flatpickr.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/plyr/plyr.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
