<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-light text-center mt-0">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Here's what's in it for you</h1>
        <p class="lead">What you will get studying with us</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-city fs-4 text-info"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Boarding Accomodation</h5>
            <p>We have full borading facilities that are take care of the safety and well being our students.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-laptop fs-5 text-success"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Curriculum</h5>
            <p>We offer both arts,commeercial and science oriented subjects with update to date curriculum.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-people-carry fs-6 text-danger"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Staff</h5>
            <p>We have fully qualified teaching and non teaching staff with great experience that can make a huge difference in the growth of our students.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
