{% load static %}

<nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">

      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

    </div><a class="navbar-brand" href="{% url 'admin' %}">
      <div class="d-flex align-items-center py-3"><img class="mr-2" src="../assets/img/illustrations/falcon.png" alt="" width="40" /><span class="text-sans-serif">Gradr</span>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content perfect-scrollbar scrollbar">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#user" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="user">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user-alt"></span></span><span class="nav-link-text">Users</span>
            </div>
          </a>
          <ul class="nav collapse" id="user" data-parent="#navbarVerticalCollapse">

            <!-- <li class="nav-item"><a class="nav-link" href="../home/landing.html">Landing</a>
            </li> -->

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#student" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="student">Students</a>
              <ul class="nav collapse" id="student" data-parent="#user">
                <li class="nav-item"><a class="nav-link" href="{% url 'new-student' %}">New</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-students' %}">List</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admission-list' %}">Admission List</a>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'student-by-class' %}">Classroom</a>
                </li>

                 <li class="nav-item"><a class="nav-link" href="{% url 'update-parents' %}">Update Parents</a>
                </li>

                   <!-- <li class="nav-item"><a class="nav-link" href="{% url 'bulk-exams' %}">bulk exams</a>
                    </li>  -->


              </ul>


            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#teachers" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="teachers">Teachers</a>
              <ul class="nav collapse" id="teachers" data-parent="#user">
                <li class="nav-item"><a class="nav-link" href="{% url 'new-teacher' %}">New</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-teacher' %}">List</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#management" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="management">Accounts</a>
              <ul class="nav collapse" id="management" data-parent="#user">
                <li class="nav-item"><a class="nav-link" href="{% url 'update-password' %}">Update Password</a>
                </li>

              </ul>
            </li>

          </ul>
        </li>


        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#settings" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="settings">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cog"></span></span><span class="nav-link-text">Settings</span>
            </div>
          </a>
          <ul class="nav collapse" id="settings" data-parent="#navbarVerticalCollapse">

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#termly" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="termly">Term</a>
              <ul class="nav collapse" id="termly" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'create-term' %}">New</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#classes" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="classes">Class</a>
              <ul class="nav collapse" id="classes" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-class' %}">Add Class</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'all-classes' %}">List</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'assign-class-teacher' %}">Add Class Teacher</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-class-teacher' %}">List Class Teachers</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#sessions" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sessions">Session</a>
              <ul class="nav collapse" id="sessions" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-session' %}">New Session</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'all-sessions' %}">List</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#subjects" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="subjects">Subjects</a>
              <ul class="nav collapse" id="subjects" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-subject' %}">Add Subject</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'all-subjects' %}">List Subjects</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'assign-subject' %}">Assign Subjects</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-subject-teachers' %}">Subject Teachers </a>
                </li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#attendance" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="attendance">Attendance</a>
              <ul class="nav collapse" id="attendance" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'attendance-setting' %}">New</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../pages/errors/500.html">List</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#resumption" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="resumption">Resumption Date</a>
              <ul class="nav collapse" id="resumption" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'resumption-setting' %}">Add Resumption Date</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'resumption-dates' %}">List</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#subjperclass" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="subjperclass">Subject Per Class</a>
              <ul class="nav collapse" id="subjperclass" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'subject-perclass' %}">Subjects Per Class</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'subject-perclass-list' %}">List</a>
                </li>
              </ul>
            </li>


            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#affective" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="affective">Affective</a>
              <ul class="nav collapse" id="affective" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-affective' %}">Add</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-affective' %}">List</a>
                </li>
              </ul>
            </li>

            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#psychomotor" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="psychomotor">Psychomotor</a>
              <ul class="nav collapse" id="psychomotor" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-psychomotor' %}">Add</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-psychomotor' %}">List</a>
                </li>
              </ul>
            </li>

              <li class="nav-item"><a class="nav-link dropdown-indicator" href="#rating-score" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rating-score">Rating</a>
              <ul class="nav collapse" id="rating-score" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'add-rating' %}">Add</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-rating' %}">List</a>
                </li>
              </ul>
            </li>
{% comment %}
            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#demographics" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="demographics">Demographics</a>
              <ul class="nav collapse" id="demographics" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'subject-perclass' %}">Add Country</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'subject-perclass-list' %}">List Country</a>
                </li>
              </ul>
            </li> {% endcomment %}


            <li class="nav-item"><a class="nav-link dropdown-indicator" href="#regno" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="regno">Admision Numbers</a>
              <ul class="nav collapse" id="regno" data-parent="#settings">
                <li class="nav-item"><a class="nav-link" href="{% url 'generate-numbers' %}">New Numbers</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="">List Numbers</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'define-prefix' %}"> Define Prefix </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'list-prefix' %}">List Prefix</a></li>
              </ul>
            </li>

          </ul>
        </li>



        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#academics" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="academics">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-book-reader"></span></span><span class="nav-link-text">Academics</span>
            </div>
          </a>
          <ul class="nav collapse" id="academics" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="{% url 'scores-summary' %}">Scores</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'comment-result' %}">Comments</a>
            </li>

            <li class="nav-item"><a class="nav-link" href="result-analysis">Result</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'process-scores' %}">Process Scores</a>
            </li>
             <li class="nav-item"><a class="nav-link" href="{% url 'process-my-result' %}">Process Result</a>
              </li>
             <li class="nav-item"><a class="nav-link" href="{% url 'process-traits' %}">Process Traits</a>
            </li>



            <!-- <li class="nav-item"><a class="nav-link dropdown-indicator" href="#pages-errors" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pages-errors">Errors</a>
              <ul class="nav collapse" id="pages-errors" data-parent="#academics">
                <li class="nav-item"><a class="nav-link" href="../pages/errors/404.html">404</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="../pages/errors/500.html">500</a>
                </li>
              </ul>
            </li> -->

          </ul>
        </li>

        <!-- <li class="nav-item"><a class="nav-link" href="../chat.html">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text"> Chat</span>
            </div>
          </a>
        </li -->

        <li class="nav-item"><a class="nav-link dropdown-indicator" href="#messages" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="messages">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comment-alt"></span></span><span class="nav-link-text">Messaging</span>
            </div>
          </a>
          <ul class="nav collapse" id="messages" data-parent="#navbarVerticalCollapse">
            <li class="nav-item"><a class="nav-link" href="{% url 'scores-summary' %}">Bulk SMS</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'comment-result' %}">Class SMS</a>
            </li>

          </ul>
        </li>
      </ul>

      <!-- <div class="navbar-vertical-divider">
        <hr class="navbar-vertical-hr my-2" />
      </div> -->

      <!-- <ul class="navbar-nav flex-column">
        <li class="nav-item"><a class="nav-link" href="../widgets.html">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-poll"></span></span><span class="nav-link-text"> Widgets</span>
            </div>
          </a>
        </li>

      </ul> -->
      <!-- <div class="navbar-vertical-divider">
        <hr class="navbar-vertical-hr my-2" />
      </div> -->

    </div>
  </div>
</nav>
