{% load my_tags %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Terminal Result</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
<link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}">
<meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- form assets -->

    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    

  </head>


  <body class="bg-soft-light"  onload="window.print()">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <div class="container" data-layout="container">


        <div class="content">

          <div class="card mt-3 mb-3">
            <div class="card-header">
                <!-- <div class="col">
                  <h5 class="mb-0" id="followers">Header</h5>
                </div> -->
                <div class="national-emblem mt-0">
                  <!-- <p class="mb-3">
                    <img class="logo-img" src="{% static 'img/logos/skybadge.jpg' %}" />
                  </p> -->
                <img class="logo-img" src="{% static 'img/logos/skybadge.jpg' %}" />
                {% comment %} <p class="fs--2">BENUE STATE GOVERNMENT</p>
                <p class="fs--2">MINISTRY OF EDUCATION HEADQUARTERS, MAKURDI </p>
                <p class="fs--2">TERMLY CONTINOUS ASSESSMENT DOSSIER</p> {% endcomment %}
                <h5 class="text-center"> SKY GIFTED ACADEMY MKAR, GBOKO </h5>
                </div>
            </div>

            <!-- <div class="card-body bg-light">
              <h6 class="text-center">ghgghhhghg</h6>
            </div> -->

          </div>

          <!-- top header ends here-->

          <div class="card mb-3">
            <div class="card-header position-relative min-vh-10 mb-2">
              <!-- <div class="bg-holder rounded-soft rounded-bottom-0" style="background-image:url({% static 'img/generic/4.jpg' %});">
              </div> -->
              <!--/.bg-holder-->
              {% comment %} {% if result.student.profile_image %} {% endcomment %}

              <div class="avatar avatar-4xl"><img class="" src="{{ result.student.profile_image.url }}" width="200" alt="" /></div>
              </div>
              {% comment %} {% else %}
                <div class="avatar avatar-3xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="{% static '/img/logos/skybadge.jpg' %}" width="200" alt="" /></div>
              </div>
              {% endif %} {% endcomment %}

            <div class="card-body pt-0">
              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <h4 class="mb-1 mr-4"> {{ result.student.sur_name|upper}}, {{ result.student.first_name|capfirst}} {% if result.student.other_name %}
              {{result.student.other_name|capfirst}}
              {% else %}
              {% endif %}</h4>
                  </div>
                  <h5 class="text-500 fs--2">{{ result.student.full_reg_no}}</h5>
                  <h5 class="fs--1 font-weight-normal">{{result.termposition |ordinal}} Position</h5>
                  <button class="btn btn-outline-dark btn-sm px-3" type="button"><span class="fs--2"> {{result.studentclass}} </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3" type="button">Scores <span class="fs--2"> {{result.termtotal}} </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3 ml-2" type="button">Avg <span class="fs--2"> {{result.termaverage}} </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3" type="button"><span class="fs--2"> {{result.term}}  </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3 ml-2" type="button"><span class="fs--2"> {{result.session}} </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3 ml-2" type="button"><span class="fs--2"> {{student_count}} Student(s) </span></button>
                  <button class="btn btn-outline-dark btn-sm px-3 ml-2" type="button"><span class="fs--2">Att: {{result.attendance}} out of {{attendanceSetting.days_open}} </span></button>

                  <!-- <div class="d-flex  mt-1">
                   <div class="p-2 flex-fill"><span class="text-black mr-2">Class</span> <span> JSS1A </span></div>
                  <div class="p-2 flex-fill"><span> Term </span> <span>First Term</span> </div>
                  <div class="p-2 flex-fill"><span> Session </span> <span>2016/2017</span> </div>
                  <div class="p-2 flex-fill">Student(s) <span>70</span></div>
                  <div class="p-2 flex-fill">Total Scores <span>890</span></div>
                  <div class="p-2 flex-fill">Avg <span>78.9</span></div>
                  <div class="p-2 flex-fill">Position <span>1st</span></div>

                  </div> -->
                  {% comment %} <hr class="border-dashed my-4" /> {% endcomment %}
                </div>

              </div>
            </div>
          </div>


          <div class="card mt-3">
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0" id="followers">Termly Academic Performance</h5>
                </div>

              </div>
            </div>

            <div class="card-body bg-light">
          <!-- <h6 class="align-items-center">Print Result Here</h6> -->
          <table class='examtable-print'>
          <tr>
          <th>Subject</th>
          <th>1st CA</th>
          <th>2nd CA</th>
          <TH>3rd CA</th>
          <TH>CA Total</th>
          <TH>Exam</th>
          <TH>Total 100%</th>
          <TH>Average</th>
          <TH>Highest Score</th>
          <TH>Lowest Score</th>
          <TH>Position</th>
          <TH>Grade</th>
          <TH>Comment</th>
          <th>Sign</th>
          </tr>
          {% for score in scores %}


						<tr>
			      <td>{{score.subject.subject}}</td>
            <td class="align-right">{{ score.firstscore}}</td>
            <td class="align-right" >{{ score.secondscore }}</td>
            <td class="align-right" >{{ score.thirdscore }}</td>
            <td class="align-right" >{{ score.totalca }}</td>
            <td class="align-right" >{{ score.examscore }}</td>
            <td class="align-right" >{{ score.subjecttotal }}</td>
            <td class="align-right" >{{ score.subjaverage }}</td>
            <td class="align-right" >{{ score.highest_inclass}}</td>
            <td class="align-right" >{{ score.lowest_inclass}}</td>
            <td>{{ score.subjectposition | ordinal}}</td>
            <td>{{ score.subjectgrade}}</td>
            <td>{{ score.subjectrating}}</td>
            <td> {% staff_sign score.subjectteacher.pk|capfirst %}
            </td>
          </tr>
         
            {% endfor %}
          </table>
            </div>

          </div>

          <div class="card mt-3">
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0" id="followers">Comments</h5>
                </div>
              </div>
            </div>

            <div class="card-body bg-light">

              <!-- Begin Teacher comments container -->
                <div>

                   <div class="custom-comment">

                     <p class="staff-comments-header">Class Teacher's Name</p>
                      <p class="staff-comments-item">
                      {{result.classteacher}} {{result.classteacher.teacher.firstname}}
                      </p>
                   </div>

                       <div class="class-teacher-comments">

                           <p class="staff-comments-header">Class Teacher's Comments</p>
                            <p class="staff-comments-item">

                            {{ result.classteachercomment}}
                            </p>
                      </div>


                           <div class="class-teacher-sign">
                             <p class="staff-comments-header">Class Teacher's Signature</p>
                                <p class="staff-comments-item">.......................................</p>
                           </div>
                      </div>
   <!-- end teacher comments container -->


   <!-- Begin principal comments conatiner -->
         <div>
                     <div class="principal-name">
                         <p class="staff-comments-header">Principal's Name</p>
                         <p class="staff-comments-item">Prince Akpah, Tyonor Yiman</p>
                     </div>

                     <div class="principal-comments">
                         <p class="staff-comments-header">Principal's Comments</p>
                         <p class="staff-comments-item">Passed</p>
                     </div>

                     <div class="principal-sign">
                         <p class="staff-comments-header">Principals's Signature</p>
                         <p class="staff-comments-item">.........................................</p>
                     </div>

         </div>
       <!-- end principal comments container -->

            </div>



          </div>

          <div class="card mt-3">
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Domain Rating</h5>
                </div>

              </div>
             

              <div class="d-flex flex-row justify-content-between mt-1">
                <div>
                  <h6 class="fs--1">Affective</h6>
                  <table class='examtable-print'>
              <tr>
              <th>Domain</th>
              <th>Rating</th>
              </tr>
              {% for affective in affective %}


                <tr>
                <td>{{affective.affective}}</td>
                <td>{{ affective.rating}}</td>
              </tr>
                {% endfor %}
              </table>
                </div>

                <div>
                  <h6 class="fs--1">Psychomotor</h6>
                  <table class='examtable-print'>
              <tr>
              <th>Skill</th>
              <th>Rating</th>
              </tr>
              {% for psychomotor in psychomotor %}


                <tr>
                <td>{{psychomotor.psychomotor}}</td>
                <td>{{psychomotor.rating}}</td>
              </tr>
                {% endfor %}
              </table>
                </div>

                <div>
                  <h6 class="fs--1">Key To Rating</h6>
                  <table class='examtable-print'>
              <tr>
              <th>Scale</th>
              <th>Description</th>
              </tr>

                <tr>
                <td>5</td>
                <td>Excellent</td>
              </tr>
              <tr>
              <td>4</td>
              <td>Very Good</td>
            </tr>
            <tr>
            <td>3</td>
            <td>Good</td>
            </tr>
            <tr>
            <td>2</td>
            <td>Fair</td>
          </tr>
          <tr>
          <td>1</td>
          <td>Poor</td>
        </tr>
              </table>
                </div>
              </div>

            </div>
          </div>

          <div class="card mt-1">
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0">Key To Grading</h5>
                </div>

              </div>
            </div>

            <div class="card-body bg-light">
              <div class="item-container">
                <div class="grading-items"><h6 >A-Distinction</h6><span class="fs--1">75% Above</span></div>
                <div class="grading-items"><h6>B-Very Goood</h6><span class="fs--1">65-74</span></div>
                <div class="grading-items"><h6>C-Good</h6><span class="fs--1">55-64</span></div>
                <div class="grading-items"><h6>D-Fair</h6><span class="fs--1">40-54</span></div>
                <div class="grading-items"><h6>E-Poor</h6><span class="fs--1">39 Below</span></div>
              </div>

                <div class="grading-items"><h6 >Next Term Begins</h6><span class="fs--1">{{termbegins.term_begins}}</span></div>
              </div>
            </div>

          </div>





          <footer>
            <!-- <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3"> -->
              <!-- <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Sky Gifted Academy, Mkar, Gboko <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2021 &copy; <a href="https://themewagon.com"> Supported By Gradr</a></p>
              </div> -->
              <!-- <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">0.0.1</p>
              </div> -->
            <!-- </div> -->
          </footer>
        </div>

      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/@fortawesome/all.min.js' %}"></script>
    <script src="{% static 'lib/stickyfilljs/stickyfill.min.js' %}"></script>
    <script src="{% static 'lib/sticky-kit/sticky-kit.min.js' %}"></script>
    <script src="{% static 'lib/is_js/is.min.js' %}"></script>
    <script src="{% static 'lib/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{% static 'lib/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables-bs4/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/dataTables.responsive.js' %}"></script>
<script src="{% static 'lib/datatables.net-responsive-bs4/responsive.bootstrap4.js' %}"></script>
<!-- below for bs wizard  -->
<script src="{% static 'lib/prismjs/prism.js' %}"></script>
<script src="{% static 'lib/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.7/polyfill.min.js"></script>
<script src="{% static 'lib/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'lib/lottie/lottie.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>

  </body>

</html>
