{% extends 'layout/base_layout.html' %}

{% load static %}
{% block title %} Update Student Profile {% endblock %}

{% block content %}
<div class="row no-gutters" id="block-content">


            <div class="col-lg-12 pl-lg-2 mb-3">
              <div class="row no-gutters h-100 align-items-stretch">
                <div class="col-lg-12 mb-3">
                  <div class="card h-100">
                    <div class="card-header bg-light">
                      <h5 class="mb-0">Update Student Profile</h5>
                    </div>
                    <div class="mb-4">
                      {% if messages %}
                      <small class="alert alert-success">
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                      </small>
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <form  action="" method="POST"  id="student-profile-form">
                        {% csrf_token %}

                        {% comment %} <div class="custom-file col-5">
                        <input class="custom-file-input" id="customFile" type="file" name="profile_image">
                        <label class="custom-file-label" for="profile_image">Choose Profile Picture</label>
                        </div> {% endcomment %}

                        <div class="form-row">
                          <div class="form-group col-4">
                            {{ form.sur_name.label_tag }}
                            {{form.sur_name}}
                          </div>

                          <div class="form-group col-4">
                            {{ form.first_name.label_tag }}
                            {{form.first_name}}
                          </div>

                          <div class="form-group col-4">
                            {{ form.other_name.label_tag }}
                            {{form.other_name}}
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="form-group col-4">
                            {{ form.sex.label_tag }}
                            {{form.sex}}
                          </div>

                          <div class="form-group col-4">
                            {{ form.dob.label_tag }}
                            {{form.dob}}
                          </div>

                          <div class="form-group col-4">
                            {{ form.religion.label_tag }}
                            {{form.religion}}
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="form-group col-4">
                            {{ form.email.label_tag }}
                            {{form.email}}
                          </div>

                          <div class="form-group col-4">
                            {{ form.address.label_tag }}
                            {{form.address}}
                          </div>
                          <div class="form-group col-4">
                            {{ form.phone.label_tag }}
                            {{form.phone}}
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="form-group col-3">
                            {{ form.blood_group.label_tag }}
                            {{form.blood_group}}
                          </div>

                          <div class="form-group col-3">
                            {{ form.class_admitted.label_tag }}
                            {{form.class_admitted}}
                          </div>

                          <div class="form-group col-3">
                            {{ form.session_admitted.label_tag }}
                            {{form.session_admitted}}
                          </div>

                          <div class="form-group col-3">
                            {{ form.term_admitted.label_tag }}
                            {{form.term_admitted}}
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="form-group col-2">
                            {{ form.country.label_tag }}
                            {{form.country}}
                          </div>
                          <div class="form-group col-3">
                            {{ form.state.label_tag }}
                            {{form.state}}
                          </div>
                          <div class="form-group col-4">
                            {{ form.lga.label_tag }}
                            {{form.lga}}
                          </div>
                          <div class="form-group col-3">
                            {{ form.city.label_tag }}
                            {{form.city}}
                          </div>


                        </div>


                        <div class="form-row">

                          <div class="form-group col-6">
                            {{ form.parentsurname.label_tag }}
                            {{form.parentsurname}}
                          </div>
                          <div class="form-group col-6">
                            {{ form.parentfirstname.label_tag }}
                            {{form.parentfirstname}}
                          </div>
                         
                        </div>

                        <div class="d-flex justify-content-end">
                          <input type="submit" name="create" class="btn btn-primary" value="Save">
                        </div>
                      </form>
                      <!-- <div class="d-flex justify-content-end">
                        <button class="btn btn-primary">Save</button>
                      </div> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

{% endblock %}
