{% extends 'layout/landing_layout.html' %}
{% load static %}
{% block title %} Skygifted Academy Home {% endblock %}

{% block content %}
<section class="bg-light text-center mt-0">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">How to check your result</h1>
        <span> visit <a href="https://skygiftedacademymkar.net/accounts/login" target="_blank">https://skygiftedacademymkar.net/accounts/login</a></span>
        <p class="lead">For support call 08165735253, 08038292630, 08026731560</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <!-- <div class="card-span-img"><span class="fas fa-city fs-4 text-info"></span></div> -->
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Step 1</h5>
            <p>Get your student access details [USERNAME AND PASSWORD] from the school, note that these credentials are case sensitive</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <!-- <div class="card-span-img"><span class="fas fa-laptop fs-5 text-success"></span></div> -->
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Step 2</h5>
            <p>Launch your broswer and navigate to your address bar and type <code><a href="" >https://skygiftedacademymkar.net/accounts/login</a> </code> and enter your username and password, please this url does not have spaces</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <!-- <div class="card-span-img"><span class="fas fa-people-carry fs-6 text-danger"></span></div> -->
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Step 3</h5>
            <p>If you are having login issues, please do not panic but call the support numbers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>

{% endblock content%}
