{% extends 'layout/landing_layout.html' %}
{% load static %}
{% block title %} SKY Home {% endblock %}

{% block content %}
<div class="card">
            <div class="card-body overflow-hidden p-lg-6">
              <div class="row align-items-center justify-content-between">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/illustrations/4.png' %}" alt=""></div>
                <div class="col-lg-6 pl-lg-4 my-5 text-center text-lg-left">
                  <h3>SKY GIFTED ACADEMY, MKAR</h3>
                  <p class="lead">Welcome. This is the future home of something amazing, we will soon be up!</p>
                  <!-- <a class="btn btn-falcon-primary" href="../documentation/getting-started.html">Getting started</a> -->
                </div>
              </div>
            </div>
          </div>

{% endblock content%}
