{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Gradr | Dashboard</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    {% include 'partials/header.html' %}

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <div class="container" data-layout="container">

        {% include 'partials/sidenav.html' %}
        <div class="content">

          {% include 'partials/topbar.html' %}

         {% block content %}

         {% endblock %}


        {% include 'partials/footer.html' %}


        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
{% include 'partials/footer-links.html' %}

<script>
  $(function () {
    $("#term_begins").datepicker({
      format:'yyyy-mm-dd',
    });
  });
  $(function () {
    $("#term_ends").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>

  </body>

</html>
